@page
@model ObservatoireDesTerritoires.Pages.LogModel
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
    <link rel="stylesheet" href="~/css/log.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Connection</span></div>
            <form method="post">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" name="email" placeholder="Entrer votre email" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Entrer votre mot de passe" required>
                </div>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="error-message">@Model.ErrorMessage</div>
                }
                <div class="row button">
                    <input type="submit" value="Se connecter" asp-page-handler="OnPost"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
